.cart-body{
    /* margin-bottom: 1em; */ 
    margin-top: 2em;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100vw;
}
.cart-btn{
    margin-left: 57em;
    margin-top: 0.5em;
    height: 3em;
    border: none;
     letter-spacing: .13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background-color: #e73c33;
    padding: 0.3rem 2rem;
    border-radius: 8px;
    
}

li{
    list-style: none;
    font-weight: 600;
}
